{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="particles-js"></div>

<div class=" d-flex justify-content-center align-items-center align-content-center" style="height:80vh">
    <div class="animated zoomOutRight slower">
        <h2>Good Bye..Have a good Day !</h2>
    </div>
</div>
</div>
<!-- <div class="container">
    <h2>Logged Out successfully.</h2>
    <p>Have a Good Day</p>
    <a class="btn btn-danger" href="{% url 'login' %}">Login</a>
    <a class="btn btn-info" href="{% url 'post_list' %}">Back to Blogs</a>
</div> -->


{% endblock content %}