{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id="particles-js"></div>

<div class=" d-flex justify-content-center align-items-center align-content-center" style="height:80vh">
    <div class="card animated zoomIn faster" style="width: 40rem;">
        <h5 class="card-header pb-1">Login</h5>
        <div class="card-body">
            <span class="text-muted">For now, Just Me !</span>
            <form method="post">
                {% csrf_token %}
                {{form | crispy}}
                <button class="btn btn-danger" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}