{% extends "base.html" %}
{% load static %}
{% block title %}
<title> About</title>
{% endblock title %}


{% block content %}
<div id="particles-js"></div>
<div class="about-me d-flex justify-content-center align-items-center align-content-center" style="height:100vh">
    <div class="card animated zoomIn faster" style="width: 60rem;">
        {% for content in about %}
        <h5 class="card-header">{{content.title}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{content.subtitle}}</h5>
            <p class="card-text">{{content.content|safe}} </p>
            <hr class="my-2 bg-light mb-4">
            <a href="{% url 'contact' %}"><img class="mysvg" src="{% static 'img/gmail.svg' %}" alt="contact gmail"></a>
            <a href="https://www.xing.com/profile/RobinMathew_Arackal"><img class="mysvg"
                    src="{% static 'img/xing.svg' %}" alt="Xing"></a>
            <a href="#"><img class="mysvg" src="{% static 'img/linkedin.svg' %}" alt="LinkedIn"></a>

            {% endfor %}
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}