{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
<title> Contact</title>
{% endblock title %}
{% block content %}
<div id="particles-js">
</div>

<div class="contact-me d-flex justify-content-center align-items-center align-content-center" style="height:100vh">
    <div class="card animated zoomIn faster" style="width: 40rem;">
        <h5 class="card-header pb-1">Contact Robin</h5>
        <div class="card-body">

            <form method="post">
                {% csrf_token %}
                {{form | crispy}}
                <button class="btn btn-danger" type="submit">Send Message</button>
            </form>
        </div>
    </div>
</div>
</div>



{% endblock content %}