{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block content %}
<div class="container blogs">
    <hr class="my-2 bg-light">
    <h1 class="display-5 py-1 ">{{object.title}}</h1>
    <hr class="my-2 bg-light mb-4">
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{form.media}}
        {{form | crispy}}
        <button class="btn btn-info" type="submit">Post</button>
    </form>


</div>


{% endblock content %}