{% extends "base.html" %}


{% block content %}
<div id="particles-js"></div>

<div class="container blogs">
    <hr class="my-2 bg-light">
    <h1 class="display-5 py-1 ">Blogs</h1>
    <hr class="my-2 bg-light mb-4">
</div>

<div class="container blogs">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-1">
            <div class="card mb-3" style="height: 18rem;">
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h4>
                    <p class="card-text text-muted h6">{{ post.Author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200"|safe }}</p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock content %}