{% extends "base.html" %}

{% block content %}
<div id="particles-js">
</div>

<div class="container blogs">
    <hr class="my-2 bg-light">
    <h1 class="display-5 py-1 ">{{object.title}}</h1>
    <h6 class="card-subtitle mb-2 text-muted">Author: {{object.author}}, Published on :
        {{object.created_on | date:"d.N.Y"}}
        <hr class="my-2 bg-light mb-4">
</div>

<div class="container blogs">
    <div class="row">
        <div class="col-md-9 mt-3">
            <div class="card">
                <div class="card-body mt-6">
                    <p class="card-text">{{object.content|safe}}</p>
                    {% if object.author == user %}
                    <a class="btn btn-info" href="{% url 'post_update' object.id %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'post_delete' object.id %}">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block sidebar %} {% include 'blogs/sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{% endblock content %}