{% extends "base.html" %}
{% block content %}
<div class="container blogs">
    <hr class="my-2 bg-light">
    <h1 class="display-5 py-1 ">Delete</h1>
    <hr class="my-2 bg-light mb-4">
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <h2>Sure you want to Delete the post {{ object.titlle }}</h2>
        <a class="btn btn-info" href="{% url 'post_detail' object.id %}">Cancel</a>
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>
</div>
{% endblock content %}