{% block sidebar %}
<div class="col-md-3">
    <div class="card my-3">
        <h5 class="card-header">Updates</h5>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Work in Progress!!!
                <span class="badge badge-danger badge-pill">1</span>
            </li>
        </ul>
    </div>
    <div class="card my-3">
        <h5 class="card-header">Updates</h5>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Work in Progress!!!
                <span class="badge badge-danger badge-pill">1</span>
            </li>
        </ul>
    </div>
</div>

{% endblock sidebar %}