{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    {% include "navbar.html" %}


    {% block content %}

    {% endblock content %}




    <script src="{% static '/js/jquery-3.4.1.min.js'  %}"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js'  %}"></script>

    <script src="{% static 'js/particles.min.js' %}"></script>
    <script>
        particlesJS.load('particles-js', '{% static 'particles.json' %}', function () {

        });


    </script>

</body>

</html>