{% load static %}
<div id="particles-js"></div>

<div class="jumbotron-container d-flex justify-content-center align-content-center align-items-center">
    <div class="jumbotron bg-transparent py-4">
        <div class=" container">
            <h1 class="display-3">Hey ! Welcome to My Website</h1>
            <p class="lead"> Blogs about Web-Development, Life , Photography and More..</p>
            <hr class="my-2">
        </div>
    </div>
</div>