{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/main.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/animate.min.css' %}">




    {% block title %} {% endblock title %}

    <title>Welcome to My Web-Page</title>
</head>