{% load static %}
{% block iconbar %}

<div class="icon-bar position-fixed">
    <a class="active" href="{% url 'index'%}"><img class="mysvg" src="{% static 'img/home.svg' %}" alt="Home"></a>
    <a href="{% url 'post_list' %}"><img class="mysvg" src="{% static 'img/quill.svg' %}" alt="Blogs"></a>
    <a href="{% url 'about' %}"><img class="mysvg" src="{% static 'img/info.svg' %}" alt="About"></a>
    <a href="{% url 'contact' %}"><img class="mysvg" src="{% static 'img/envelop.svg' %}" alt="Contact"></a>
    
    {% if user.is_authenticated %}
            <a href="{% url 'post_form' %}"><img class="mysvg" src="{% static 'img/new.svg' %}" alt="Create Post"></a>
            <a href="{% url 'logout' %}"><img class="mysvg" src="{% static 'img/exit.svg' %}" alt="Logout"></a>


        {% else %}
        <a href="{% url 'login' %}"><img class="mysvg" src="{% static 'img/enter.svg' %}" alt="Login"></a>
    {% endif %}
</div>


{% endblock iconbar %}